<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Network Security</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    <h1>Welcome to the Network Security Prediction App</h1>
    <div id="container">
      <div id="train-box">
        <form action="/train" method="get">
          <button type="submit">Trigger Model training</button>
        </form>
      </div>
      <div id="predict-box">
        <form
          id="predict-form"
          action="/predict"
          method="post"
          enctype="multipart/form-data"
        >
          <label>Upload CSV File:</label>

          <div class="file-input">
            <label for="file" class="file-label">Browse</label>
            <span class="file-name" id="file-name">No file selected</span>
          </div>

          <input type="file" id="file" name="file" accept=".csv" required />
          <button type="submit">Trigger Batch Prediction</button>
        </form>
      </div>
    </div>
  </body>

  <script defer>
    document.addEventListener("DOMContentLoaded", () => {
      const fileInput = document.getElementById("file");
      const fileName = document.getElementById("file-name");

      fileInput.addEventListener("change", () => {
        fileName.textContent = fileInput.files.length
          ? fileInput.files[0].name
          : "No file selected";
      });
    });
  </script>
</html>
